html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.top-part {
  width: 100%;
  border: 22px black solid;
  position: absolute;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(10deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.box {
  width: 80%;
  height: 300px;
  border-radius: 21px 21px 0 0;
}

.main-frame {
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

.friends:hover,
.hitch:hover,
.camper:hover,
.main-frame:hover {
  transform: scale(1.01);
}
.camper {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
}

.hitch {
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

.friends {
  background-image: url("./../public/back4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
}

.water {
  background-image: url("./../public/back6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.cooking {
  background-image: url("./../public/back7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
}

.construction {
  background-image: url("./../public/back8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.camper-tile {
  background-image: url("./../public/back2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
}
.hitchhike-tile {
  background-image: url("./../public/back6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  transition: all 0.3s;
}

.description {
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.white-color {
  color: white !important;
}

.backgroudHeader {
  background-image: url("./../public/beach.jpeg");
  text-align: center;
  background-position: center center;
  background-size: cover;
}

.mission {
  background-image: url("./../public/back5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.terms {
  background-image: url("./../public/back3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.playbutton {
  transition: all 0.3s;
}

.friends:hover,
.hitchhike-tile:hover,
.camper-tile:hover,
.main-frame:hover {
  transform: scale(1.01);
}

.playbutton:hover {
  transform: scale(1.1);
}

.cookies {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.buttonPadding {
  margin-right: 5px;
}
